<div class="actions">
	<div class="bite inline-unit">
		<span class="bite"></span>
		<span class="number"><%= recipe.favorites_count %></span>
	</div>      
	<div class="fav inline-unit">
		<span class="icon-font fav">&#xf04b</span><span class="number"> <%= recipe.favorites_count %></span>
	</div>
	<div class="commment inline-unit">
		<span class="icon-font">&#xf003</span><span class="number"> <%= recipe.comments_count %></span>
	</div>
</div>