<div class="ingredient-fields clrfix" >
	<div class="wrap">
		<%= f.hidden_field :_destroy, data: {:attribute => "destroy"} %>
		<span class="remove icon-font custom-action">&#xf14d</span>
		<%= f.hidden_field :item_id, data: {:attribute => "destroy"}, class: "item_id" %>
		<span class="ingredient-text"></span>
	</div>

	<div class="slide down icon-font custom-action"></div>
	
	<%= f.text_field :quantity, class: :quantity, placeholder: "Three Scoops" %>

</div>	