<div class="ingredient-fields clrfix" >
	<div class="wrap">
		<%= f.hidden_field :_destroy, data: {:attribute => "destroy"} %>
		<span class="remove fa fa-minus-circle custom-action"></span>
		<%= f.hidden_field :item_id, data: {:attribute => "destroy"}, class: "item_id" %>
		<% f.fields_for :tag do |tag_form| %>
		<% end %>
		<span class="ingredient-text"></span>
	</div>

	<i class="fa info <%=  (!f.object.quantity.blank? || params[:action] == "new") ? "showing" : "hidden" %>"></i>
	
	<% not_showing = "display: none" if (f.object.quantity.blank? && params[:action] == "edit") %>

	<%= f.text_field :quantity, class: :quantity, placeholder: "additional info/measurements", style: not_showing, maxlength: Ingredient::QUANTITY_LENGTH %>

</div>	