<% recipes.each do |recipe| %>
<tr class="recipe-item">
	<td class="title"><%= link_to recipe.title, recipe_path(recipe) %></td>
	<td>
		<%= render 'actions', recipe: recipe %>
	</td>
	<td class="date"><%= recipe.created_at.strftime('%b %e, %Y') %></td>
</tr>
<% end %>