<div class="share-links">
	<a href="mailto:yourfriend@example.com?Subject=<%= @recipe.title %> - Middbites Recipe" target="_top">
		<span class="socialico_plus mail" data-icon="m"></span>	
	</a>
	<span class="socialico facebook" data-icon="f"></span>
	<span class="socialico twitter" data-icon="l"></span>
	<span class="socialico_plus pinterest" data-icon="p"></span>
</div>