<div class="recipe-box box">
	<div class="title">
		<h2><%= @recipe.display_title %></h2>
	</div>
	<div class="padded-wrap">
		<center class="blurb"><%= @recipe.blurb %></center>
		<h4 class="mintGreen">Ingredients</h4>
		<ul>
			<% @recipe.ingredients.each do |ingredient| %>
			<li><%= ingredient.name %></li>
			<% end -%>
		</ul>
		<h4 class="mintGreen">Directions</h4>
		<p><%= @recipe.directions %></p>
	</div>
</div>
