<div class="row">
	<div class="header-title text-center columns">
		<h1><%= @header %></h1>
	</div>
	
	<div class="recipe-listings">
		<div class="small-12 medium-10 large-8 small-centered columns user-favorites">
			<div class="list-recipes">
				<table class="">
					<tbody>
						<%= render  "recipes/list_recipes", recipes: @recipes %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	