<div class="row">
  <div class="small-centered columns home-page">
	<div class="phrase">
		Discover and share the best bites at midd.
	</div>
	
	<% if !@featured_recipe.nil? %>
	<h5>Featured Recipe</h5>
	<% if !@featured_recipe.nil? %>
	<div class="detailed-recipes"><%= render 'recipes/detailed_recipe', recipe: @featured_recipe %></div>
	<% end -%>
  </div>
</div>