<div class="row">
  <div class="small-12 medium-10 large-7 xlarge-6 small-centered columns home-page">
	<div class="phrase">
		Discover and share the best bites at midd.
	</div>
	
	<h5>Featured</h5>
	<div class="detailed-recipes"><%= render 'recipes/detailed_recipe', recipe: @featured_recipe %></div>
  </div>
</div>