<h2>Tags</h2>
<div>
	<% @tags.each do |tag| %>
		<% tag_text = tag.taggings_count > 0 ? tag.name+"・"+tag.taggings_count.to_s : tag.name %>
		<%= link_to tag_text, root_path, class: "tag" %>
	<% end %>
</div>
