<div class="row">
	<div class="small-12 medium-12 large-10 small-centered columns grouped-tags">
		<ul class="ingredients-page">
			<% @items.each do |item| %>
				<% item_text = item.ingredients_count > 0 ? item.name+" (#{item.ingredients_count})" : item.name %>
				<li><%= item_text %></li>
			<% end %>
		</ul>
	</div>
</div>