<div class="row">
	<div class="small-12 medium-12 large-10 small-centered columns grouped-items">
		<ul class="ingredients-page ">
			<% @items.each do |item| %>
				<li><%= formatted_item_link(item) %></li>
			<% end %>
		</ul>
	</div>
</div>