/* Colors
-------------------------------------------------------------*/
$white: #ffffff;
$mintGreen: #93d06d;
$grapefruit: #ee6557;
$yellowFaded: #feeb7b;
$blueFaded: #82c6cd;

$darkGrey: #464646;
$lightGrey: #adadad;

$darkey: #2e3639;

$facebook: #405d9b;

$box_bg: #ffffff;