/* Colors
-------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;
$bg: #f8f8f8;
// $mint: #93d06d;
$grapefruit: #FD3E4E;
// $grapefruit: #ee6557;
$yellowFaded: #feeb7b;
$blue: #82c6cd;
$turquoise: #5d9d8c;

$darkGrey: #464646;
$mediumGrey: #6f6f6f;
$lightGrey: #adadad;

$background: #f3f0eb;
$grey1: #f8f9fd;

// $darkey: #2e3639;
$bluegrey: #374D62;

$roxo: #def2e0;
$navblue: #98bfbd;
$darkblue: #385355;
$retroid: #4f9d66;
$navy: #606D8A;

$facebook: #405d9b;


// New 
$blue_background: rgba(186,212,251,0.6);
$background_west: #eaedf2;
$background_carrot: #edede9;

// KathyChampion Palette
$baby_blue: rgb(184, 225, 242); // #B8E1F2
$link_blue: rgb(36, 154, 167);	// #249AA7
$green: rgb(171, 210, 94); // #ABD25E
$yellow: rgb(248, 200, 48); //
// $grapefruit: rgb(241, 89, 74); // #F1594A


$turq: #41c3ac;
$blue: #39B2F6;
// $blue: #48b0e7;
$red: #ff6b57;
$darkey: #2E3236;

.facebook_blue {
	color: $facebook;
}

