





.pager {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px; 
	a {
		@include tag-hollow($blue);
		&.active {
			background: $blue;
			color: white;
		}
	}
}

.bxslider {
	margin: 0;
	padding: 0;
}
.bx-viewport {
	// font-size: 1em;
}
// margin-bottom: 15px;
// font-size: 0.95em;
h3 {
	font-family: $body-font-family;
	font-size: 30px;
}

ul.bxslider {
	// font-size: 10px !important;
	ul.items {
		list-style: none;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1.3em;
		margin: 0;
		font-size: 18px !important;
		a {
			color: $body-font-color;
			font-size: 18px !important;
			&:hover { color: $grapefruit; }
		}
	}
	
}
// .bx-clone {	// fix, hopefully
// 	display: none;
// }

