



#menu-tabs {
	display: block;
	margin: 0 auto;
	dd {
		display: inline-block;
		float: none;
		margin: 0;
		
		a {
			display: inline;
			// @include tag-hollow($blue);
		}
		&.active {
			a {
				// background: $blue;
				color: $turq;
			}
		}
	}
	@media #{$medium-up} {
		margin: 0 auto;
		width: 410px;
	}
}

#menu-tab-content {
	.content {
		width: 100%;
		padding: 0;
		&.one_slider_only {
			max-width: 340px;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
}

.pager {
	text-align: center;
	margin: 5px auto;
	margin-bottom: 15px;
	display: none;
	a {
		// @include tag-hollow($blue);
		&.active {
			// background: $blue;
			// color: white;
		}
	}
	&.active {
		display: block;
	}
}

//Fixed mobile pager
.fixed-pager {
	font-size: 1.2em;
	text-align: center;
	padding-right: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 30px;
	background: $darkey;
	height: 50px;
	// border: 1px solid $lines;
	line-height: 50px;
	a {
		height: 50px;
		font-weight: 300;
		color: white;
		&.active {
			color: $turq;
		}
	}
	a.link {
		margin-right: 6px;
	}
	.slider-next {
		position: absolute;
		right: 0;
		top: 0;
		// padding: 10px;
		height: 50px;
		width: 40px;

	}
	a.bx-next {
		height: 50px;
		line-height: 50px;
		width: 40px;
		display: block;
	}
}

//Give body padding on this page for mobile view so fixed-pager has space
body#pages-menus {
	@media #{$small-only} {
		padding-bottom: 50px;
	}
}

.bxslider {
	margin: 0;
	padding: 0;
}

.bxslider > li {
	padding-right: 20px;
}

.bx-viewport {
	// font-size: 1em;
	// background: grey;

}
// margin-bottom: 15px;
// font-size: 0.95em;
h3 {
	font-family: $body-font-family;
	font-size: 30px;
}

ul.bxslider {
	// font-size: 10px !important;

	ul.items {
		list-style: none;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1.3em;
		margin: 0;
		font-size: 18px !important;
		font-weight: 300;
		a {
			color: $body-font-color;
			font-size: 18px !important;
		}
	}
	
}

ul.bxslider > li {
	// border-left: 6px solid $turq;
}
// .bx-clone {	// fix, hopefully
// 	display: none;
// }

.view_by {
	text-align: center;
	font-weight: 300;
	margin-bottom: 20px;
	a.active {
		color: $turq;
	}
}

