



#menu-tabs {
	display: block;
	margin: 0;
	dd {
		display: inline-block;
		float: none;
		margin: 0;
		a {
			display: inline;
			@include tag-hollow($turq);
		}
		&.active {
			a {
				background: $turq;
				color: white;
			}
		}
	}
}

#menu-tab-content {
	.content {
		width: 100%;
		padding: 0;
		&.one_slider_only {
			max-width: 340px;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
}

.pager {
	text-align: center;
	margin-bottom: 5px; 
	a {
		@include tag-hollow($turq);
		&.active {
			background: $turq;
			color: white;
		}
	}
}

.bxslider {
	margin: 0;
	padding: 0;
}

.bxslider > li {
	padding-right: 20px;
}

.bx-viewport {
	// font-size: 1em;
	// background: grey;

}
// margin-bottom: 15px;
// font-size: 0.95em;
h3 {
	font-family: $body-font-family;
	font-size: 30px;
}

ul.bxslider {
	// font-size: 10px !important;

	ul.items {
		list-style: none;
		list-style-position: inside;
		text-indent: -1em;
		padding-left: 1.3em;
		margin: 0;
		font-size: 18px !important;
		a {
			color: $body-font-color;
			font-size: 18px !important;
			&:hover { color: $grapefruit; }
		}
	}
	
}

ul.bxslider > li {
	// border-left: 6px solid $turq;
}
// .bx-clone {	// fix, hopefully
// 	display: none;
// }

