@import 'foundation_and_overrides';
@import 'colors';

$recipe-box-background: white;

.recipe-box {
	// border: 1px solid #e5e5e5;
	background: $recipe-box-background;
	h2.title {
		font-family: "Montserrat";
		font-weight: 700;
	}
	.blurb {
		font-style: italic;
	}
	h3 {
		// font-family: 
		color: $mint;
	}

	.ingredient-list {
		list-style: none;
		padding: 0 1em;
		.name {
			float: left;
			font-weight: bold;
		}
		.quantity {
			font-weight: 300;
			float: left;
			margin-left: 0.5em;
		}
	}
	hr { margin: 3px 0;}

	.icon-font.tag {
		margin-right: 5px;
	}


}

.recipe-form {
	border: 1px solid #eaedf2;
	background: $recipe-box-background;
	h2 { color: $grapefruit; margin-bottom: 10px; font-weight: bold; }
	.directions h4, h4.ingredients {
		color: $mint;
	}
	.directions label {
		font-size: 1em;
	}

	#ingredients-section {
		span {vertical-align: middle;}
		.icon-font {
			cursor: pointer;
			font-size: 1.3em;
			// color: $grapefruit;
		}
		.all-actions {
			height: 30px;
			line-height: 30px;
			font-size: 0.9em;
			#remove-all {float: left; }
			#slide-all {float: right; }
			#remove-all, #slide-all { cursor: pointer }
			.toggle-all { margin-left: 5px;}
		}
		.ingredient-fields {
			line-height: 30px;
			.wrap { float: left; }
			span.remove { margin-right: 5px; }
			input.quantity {
				margin: 0;
				font-size: 0.8em;
				vertical-align: middle;
				// float: right;
				// width: 40%;
			}
		}
	}

}

@media only screen and (min-width: 400px) {
	.ingredient-fields {
		input.quantity {
			float: right;
			width: 40%;
		}
	}
}

