@import 'foundation_and_overrides';
@import 'colors';

$recipe-box-background: white;

.recipe-box {
	background: $recipe-box-background;
	h2.title {
		font-family: "Montserrat";
		font-weight: 700;
	}
	.blurb {
		font-style: italic;
	}
	h3 {
		// font-family: 
		color: $mint;
	}

	.ingredient-list {
		list-style: none;
		padding: 0 1em;
		.name {
			float: left;
			font-weight: bold;
		}
		.quantity {
			font-weight: 300;
			float: left;
			margin-left: 0.5em;
		}
	}
	hr { margin: 3px 0;}

	.icon-font.tag {
		margin-right: 5px;
	}


}

.recipe-form {
	background: $recipe-box-background;
	h2 { color: $grapefruit; margin-bottom: 10px; font-weight: bold; }
	.directions h4, h4.ingredients {
		color: $mint;
	}
	.directions label {
		font-size: 1em;
	}

	#ingredients-section {
		.icon-font {
			cursor: pointer;
			font-size: 1.3em;
		}
		.all-actions {
			text-align: center;
			height: 30px;
			line-height: 30px;
			span {vertical-align: middle;}
			.text { margin: 0 10px}
		}
	}

}

