.show-recipe {
	margin: 20px 0;
	.title {
		margin-top: 0;
		margin-bottom: 8px;
		text-align: center;
		font-size: 1.5em;
		// background: $turq;
		// color: white;
		&:hover {
			color: $body-font-color;
		}
		@media #{$large-up} {
			font-size: 1.8em;
		}

	}
	.blurb {
		text-align: center;
		margin: 1em 0;
		font-size: 14px;
	}
	.create-info {
		font-weight: 300; text-align: center;
		font-size: rem-calc(12px);
		margin-bottom: 0.8em;
	}
	.image {
		// max-width: 500px;
		margin: 0 auto;
	}

	.recipe {
		h4 {
			// text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
		}
		// border: 1px solid #ddd;
		// padding: 10px;
	}

	.ingredient-list {
		font-weight: 300;
		margin-bottom: 2em;
		.name {
			// font-weight: 500;
		}
		.quantity {
			// font-weight: 100;
			font-style: italic;
		}
	}

	p.directions {
		font-weight: 300; 
		margin-bottom: 1.5em;
	}

	// Actions,  big ones
	.actions.main {
		max-width: 220px;
		margin: 0 auto;
		margin-bottom: 9px;
		text-align: center;
		.action {
			display: block;
			float: left;
			width: 33%;
			color: black;
			font-weight: 300;
			// background: blue;
			.icon {
				font-size: 25px;
				margin: 0 auto;
				display: block;
				margin-bottom: 4px;
			}
			.word {
				display: inline-block;
			}
		}
		@media #{$xlarge-up} {
			margin-top: 10px;
		}

	}

	// Share icons styling
	.share-links {
		text-align: center;
		margin-bottom: 1.5em;
		.socialico, .socialico_plus {
			font-size: 40px;
			// color: #a9a9a9;
			-webkit-transition: color 0.4s,opacity 0.4s;
			-moz-transition: color 0.4s,opacity 0.4s;
			transition: color 0.4s,opacity 0.4s;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
			opacity: 0.8;
			&.inactive {
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.3)";
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.3);
				opacity: 0.3;
			}
			&.facebook:hover, &.facebook.hover, &.facebook {
				color: $facebook;
			}
			&.mail:hover, &.mail.hover, &.mail {
				color: $turq;
			}
			&.twitter:hover, &.twitter.hover, &.twitter {
				color: #00aced;
			}
			&.pinterest:hover, &.pinterest.hover, &.pinterest {
				color: #e24849;
			}
			@media #{$large-up} {
				font-size: 50px;
			}
		}
		@media #{$xlarge-up} {
			// text-align: left;
			// padding-bottom: 12px;
		}

	}

	.social_dropdowns {
		position: absolute;
		left: -999999px;
		margin-top: 5px;
	}

	.ingredients-header {
		padding-top: 10px;
		@media #{$xlarge-up} {
			border-top: 1px solid $lines;
		}
	}

	.tag_icon {
		font-size: 1.5em;
		vertical-align: top;
		margin-top: 8px;
		margin-right: 10px;
	}

	.tags {
		margin-bottom: 1em;
	}

	.side-col {
		@media #{$xlarge-up} {
			float: right !important;
		}
	}

	#comments {
		h4 {
			text-align: center;
		}

		#comments-container {
			margin-top: 15px;
		}

		.comment {
			font-size: 0.7em;
			padding: 18px 0px;
			border-top: 1px solid #ddd;
			.comment-body {
				margin-top: 0.625em;
				margin-bottom: 0;
				font-weight: 300;
			}
			.meta {
				.user-name {
					float: left;
					font-weight: 700;
					// color: $grapefruit;
				}
				.time-ago {
					float: right;
					margin-top: 0.3em;
					font-weight: 300;
					color: #818181;
				}
			}
		}
		.please-sign-in {
			font-weight: 300;
			.sign-in {
				color: $blue;
				font-size: 1em;
			}
		}
		.comment-response {
			font-weight: 300;
		}

		#load-more {
			color: $blue;
			display: inline-block;
			margin-bottom: 1em;
		}
	}
	.comment-button {
		@include button-thick($turq);
		padding: 10px;
		text-transform: none;
		text-align: center;
		margin-top: 10px;
		display: block;
	}


}