.show-recipe {
	margin: 20px 0;
	.title {
		margin-top: 0.5em;
		margin-bottom: 8px;
		text-align: center;
		// background: $turq;
		// color: white;
		&:hover {
			color: $body-font-color;
		}

	}
	.blurb {
		text-align: center;
		margin: 1em 0;
		font-size: 14px;
	}
	.create-info {
		font-weight: 300; text-align: center;
		font-size: rem-calc(12px);
		margin-bottom: 0.8em;
	}
	.image {
		// max-width: 500px;
		margin: 0 auto;
	}

	.recipe {
		h4 {
			// text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
		}
		// border: 1px solid #ddd;
		// padding: 10px;
	}

	article.recipe-info {
		// background: #f8f9fa;	
		font-weight: 300;
		p { font-weight: 300; }
	}

	.actions.main {
		max-width: 250px;
		margin: 0 auto;
		margin-bottom: 1em;
		margin-top: 1em;
		text-align: center;
		.action {
			display: block;
			float: left;
			width: 33%;
			color: black;
			font-weight: 300;
			// background: blue;
			.icon {
				font-size: 25px;
				margin: 0 auto;
				display: block;
				margin-bottom: 4px;
			}
			.word {
				display: inline-block;
			}
		}

	}

	
	h3 {
		text-align: center;
	}
	#comments {
		.comment {
			padding: 18px 0px;
			border-top: 1px solid #ddd;
			.comment-body {
				margin-top: 0.625em;
				margin-bottom: 0;
			}
			.meta {
				font-family: "omnes-pro";
				.user-name {
					font-size: 0.9em;
					float: left;
					// color: $grapefruit;
				}
				.time-ago {
					float: right;
					margin-top: 0.3em;
					font-size: 0.7em;
					color: #818181;
				}
			}
		}
	}
}