@font-face {
    font-family: 'Batch';
    src: url(font-path('batch-icons-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('batch-icons-webfont.woff')) format('woff'), 
         url(font-path('batch-icons-webfont.ttf'))  format('truetype'),
         url(font-path('batch-icons-webfont.svg') + "#Batch") format('svg');
}

body {
	background: #fbfbfb;
	transition: all .2s ease;
	border-top: 5px solid $turq;
}

// Header title
header#header {
	text-align: center;
	// background: white;
	h1.middbites {
		font-weight: 500;
		font-family: "reklame-script";
		color: black;
		// color: $turq;
		padding-top: 20px;
		margin-bottom: 0;
		// line-height: 2em;
		span {
			color: #A2DAC2;
		}
	}
	.logo {
		// width: 250px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

// Main Nav bar
#sticky_navigation_wrapper {
	width: 100%;
	height: 50px;
	#sticky_navigation {
		width: 100%;
		z-index: 1000;
		background: white;
		&.fixed {
			border-bottom: 1px solid #ddd;
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	.middbites {
		font-weight: 300;
		font-family: "reklame-script";
		color: black;
		position: absolute;
		line-height: 50px;
		font-size: 30px;
		left: $column-gutter/2;
	}
	.social-icons {
		position: absolute; 
		right: $column-gutter/2;
	}
	.fixed-appear { display: none; }
	@media #{$xlarge-up} {
		.social-icons { right: 0 }
		.middbites { left: 0 }
	}
}

nav.main-nav {
	// border-bottom: 1px solid #ddd;
	// border-top: 1px solid #ddd;
	position: relative;
	margin: 0 auto;
	// font-family: "museo-slab";
	width: 100%;
	height: 50px;
	a { 
		color: #444444;
		font-size: rem-calc(14);
		&:hover {
			color: $blue;
		}
	}
	ul {
		margin: 0 auto;
		text-align: center;
		// width: 500px;
		line-height: 50px;
	}
	ul > li {
		// font-family: $header-font-family;
		a { font-size: 18px; }
		font-weight: 300;
		display: inline-block;
		margin-right: 15px;
		padding-right: 15px;
		// text-transform: uppercase;
		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}
		span.search { margin-right: 20px; }
	 }

}
ul#user_hover {
	margin: 0;
	z-index: 1001;
	.hello {
		padding: 0.25rem;
	}
	hr {
		margin: 2px 0;
	}
}

//  Search modal
.search-modal {
	visibility: hidden;
	display: none;
	position: fixed;
	left: 50%;
	top: 200px;
	z-index: 99;
	height: auto;
	width: 310px;
	margin-left: -155px;
	// @include reveal-modal-base();
	// @include reveal-modal-style(
		
	// );

	@media #{$large-up} {
		margin-left: -300px;
		width: 600px;

	}
	input#search {
		float: left;
		width: 86%;
		height: 60px;
		padding: 0 5px;
		line-height: 55px;
		font-size: 34px;
		// border: 1px solid $darkey;
		border: none;
		box-shadow: none;
		background: #eaeaea;
		// background: white;
		padding-left: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&::-webkit-input-placeholder {
			font-size: 0.7em;
		}
	}
	button {
		width: 13%;
		margin-left: 1%;
		height: 60px;
		background: $turq;
		font-size: 34px;
		padding: 0;
	}
}


.main-content {
	min-height: 600px;
}
.header-title {
	h1 {
		font-family: $header-font-family;
		color: black;
		font-weight: 600;
		line-height: 2em;
		margin: 0;
	}
}



footer#footer {
	background: $darkey;
	font-size: rem-calc(14px);
	font-weight: 200;
	color: #E0E4E9;
	padding: 1em 0;
	ul { margin-bottom: 0.7em; }
	h5 {
		font-weight: 500;
		color: white;
		font-size: rem-calc(28px);
		font-family: "reklame-script";
	}
	a { color: #E0E4E9; font-size: rem-calc(14px); &:hover { color: $blue } }
	text-align: center;
	.inline-nav {
		li {
			list-style: none;
			display: inline-block;
			.nav-sep {
				// font-weight: bold;
				padding: 0px 4px 0px 5px;
			}
		}
	}
	// font-family: $header-font-family;
	h6 {
		color: #888;
	}

	.copyright {
		// font-weight: 300;
		font-size: rem-calc(12px);
		text-align: center;
		color: #888;
	}
	.built-by {
		font-size: rem-calc(12px);
		padding-bottom: 1em;
		// color: white;
	}
	@media #{$small-only} {
		.inline-nav li.hide-small {
			display: none;
		}
	}
}


@media #{$large-up} {
	.header-title h1 { font-size: 40px; }
}

// Search results
.search-results {
	@media #{$medium-only} {
		max-width: 550px;
	}
	@media #{$large-only} {
		max-width: 800px;
	}
}

// Global Styles

// Fix foundation floating right problem
@media #{$screen} and (max-width:#{upper-bound($large-range)}) {
	[class*="column"] + [class*="column"]:last-child {
		float: none !important;
	}
}

@media #{$xlarge-up} {
	[class*="column"] + [class*="column"]:last-child {
		float: left !important;
	}
}

.clrfix:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.inline-unit { 
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
}



.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.ib-container:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.icon-font {
	font-family: Batch;
}

.share-icons {
	margin: 0 25px;
	text-align: justify;
	height: 40px;

	img { width: 35px; height: 35px; }
	.image-wrap { display: block; 
		width: 35px;
		height: 35px;

		margin: 0 auto; position: relative }
	.image-wrap:hover .overlay {
		width:100%;
		height:100%;
		position: absolute;
		background-color:#ffffff;
		opacity:0.1;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
}

// Pushy styles

// Container for Pushy 0ff-canvas nav
#container { position: relative }
.pushy {
	background: $darkey;
	.middbites h5 {
		font-weight: 500;
		color: white;
		font-size: rem-calc(28px);
		font-family: "reklame-script";
		text-align: center;
	}
}


// To disable iPhone form zoom
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 16px;
}




/* Below Variables added to make this work in Codepen, individually, without including Foundation
* http://codepen.io/rvinay88/pen/Gbvua
*/

