html {
	overflow-x: hidden;
}
body {
	// background: #f9f9f9;
	// transition: all .2s ease;
	// border-top: 5px solid $turq;
	// -webkit-text-size-adjust: none;
	// -webkit-font-smoothing: antialiased;
	// -webkit-overflow-scrolling: touch;
	overflow-y: hidden;
	overflow-x: hidden;
	max-width: 100%;
}

// Header title
header#header {
	text-align: center;
	background: white;
	.logo {
		width: 200px;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	// #user_icon {
	// 	position: absolute;
	// 	z-index: 1001;
	// 	top: 10px;
	// 	right: 10px;
	// }
}

// Main Nav bar
#sticky_navigation {
	width: 100%;
	z-index: 1000;
	background: white;
	&.stuck {
		#main-nav {
			// border: none !important;
		}
		border-bottom: 1px solid #ddd;
		position: fixed;
		top: 0;
		left: 0;
	}
	.fixed-appear { display: none; }
	// @media #{$large-up} {
	// 	.fa-user {
	// 		position: absolute;
	// 		top: 23px;
	// 		right: 12px;
	// 	}
	// 	.middbites { 
	// 		.small-logo {
	// 			height: 32px;
	// 		}
	// 		position: absolute;	
	// 		left: 10px;
	// 		top: 13px;
	// 	}
	// }
}

nav.main-nav {
	// border-bottom: 1px solid #ddd;
	// border-top: 1px solid #ddd;
	position: relative;
	margin: 0 auto;
	// font-family: "museo-slab";
	width: 100%;
	height: 58px;
	a { 
		// color: #444444;
		font-size: rem-calc(14);
		// &:hover {
		// 	color: $blue;
		// }
	}
	ul {
		margin: 0 auto;
		text-align: center;
		width: 500px;
		// border-top: 1px solid #ddd;
		line-height: 58px;
	}
	ul > li {
		// font-family: $header-font-family;
		a { font-size: 18px; }
		font-weight: 300;
		display: inline-block;
		// margin-right: 15px;
		// padding-right: 15px;
		height: 58px;
		// text-transform: uppercase;
		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}
		span.search { margin-right: 20px; }
	 }
	 .search-button {
	 	font-size: 40px;
	 	display: inline-block;
	 	margin-bottom: -5px;
	 	vertical-align: top;
	 	&.active {
	 		vertical-align: initial;
	 		margin-bottom: 0;
	 		font-size: 20px;
	 	}
	 	color: #5D5D5D;
	 	padding-right: 20px;
	 }
	 .fa-user {
	 	color: #5D5D5D;
	 	font-size: 20px;
	 	display: inline-block;

	 }

}

.flash {
	padding: 5px 8px;
	padding-right: 24px;
	display: block;
	margin: 2px auto;
	width: 100%;
	max-width: 500px;
	text-align: center;
	font-weight: 400;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 4px;
	font-size: 14px !important;
	border: 2px solid $blue;
	color: $blue;
	&.alert, &.error {
		border: 2px solid $alizarin;
		color: $alizarin;

	}
	.fa-times {
		position: absolute;
		right: 7px;
		&:hover {
			cursor: pointer;
		}
	}

}
ul#user_dropdown {
	z-index: 1001;
	.hello {
		padding: 0.25em;
		// text-align: center;
		// font-weight: 300;
	}
	li a {
		font-weight: 300;
	}
}

//  Search modal
.search-modal {
	visibility: hidden;
	display: none;
	position: fixed;
	left: 50%;
	top: 80px;
	z-index: 99;
	height: auto;
	width: 310px;
	margin-left: -155px;
	// @include reveal-modal-base();
	// @include reveal-modal-style(
		
	// );

	@media #{$large-up} {
		margin-left: -300px;
		width: 600px;
		top: 200px;

	}
	input#search {
		float: left;
		width: 80%;
		height: 60px;
		padding: 0 5px;
		line-height: 55px;
		font-size: 30px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		// border: 1px solid $darkey;
		border: none;
		box-shadow: none;
		background: #eaeaea;
		// background: white;
		padding-left: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&::-webkit-input-placeholder {
			font-size: 0.7em;
		}
		@media #{$large-up} {
			width: 86%;
		}

	}
	button {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		cursor: pointer;
		width: 19%;
		margin-left: 1%;
		height: 60px;
		background: $turq;
		font-size: 34px;
		padding: 0;
		border: 0;
		color: white;
		@media #{$large-up} {
			width: 13%;
			font-size: 50px;
		}
	}
}

.sign-in-modal {
	visibility: hidden;
	display: none;
	position: fixed;
	left: 50%;
	z-index: 99;
	width: 310px;
	margin-left: -155px;
	background-color: white;
	padding: 1.25rem;
	border: solid 1px #666666;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	top: 80px;
	.logo {
		width: 200px;
	}

	.close {
		position: absolute;
		right: 15px;
		top: 10px;
	}

	@media #{$large-up} {
		top: 200px;

	}
}

.sign-in-container, .devise-page {
	h3 {
		margin-top: 16px;
	}
	text-align: center;
	p {
		font-weight: 300;
		// font-style: italic;
	}
	label.fa {
		color: $body-font-color;
		float: left;
		width: 10%;
		text-align: left;
		margin-bottom: 0;
		margin-top: 0;
	}
	form {
		max-width: 400px;
		margin: 0 auto;
	}

	h5.or {
		border-top: 1px solid $lines;
		margin-top: 20px;
		span {
			text-align: center;
			top: -9px;
			position: relative;
			padding: 0 10px;
			background: white;
		}
	}
	.section {
		margin-bottom: 15px;
	}
	.other {
		font-size: 0.8em;
		margin: 3px;
		margin-bottom: 5px;
		text-align: right;
	}
	a.sign {
		color: $turq;
	}

	.info {
		width: 90%;
		float: right;
		font-size: 0.8em;
		font-weight: 300;
	}

	label {
		margin-top: 1em;
	}

	input[type="submit"] {
		@include form-submit;
	}

	h4.more {
		padding-top: 3em;
	}
	.devise_links {
		font-weight: 300;
	}
}

.sign-in-container {
	input#user_username, input#user_password, input#user_password_confirmation, input#user_email {
		float: left;
		width: 90%;
	}
	input#user_password {
		// margin
	}
}


.facebook_sign_in {
	@include flat-button($facebook);
	.socialico {
		font-size: 22px;
		margin-right: 5px;
	}
	span {
		vertical-align: middle;
	}
}



.main-content {
	@media #{$large-up} {
		// min-height: 450px;
	}
}
.header-title {
	h1 {
		font-family: $recipe-header-font-family;
		color: black;
		font-weight: 600;
		// line-height: 2em;
		margin: 0;
		margin-top: 16px;
		margin-bottom: 5px;
	}
	.page-blurb {
		font-weight: 300;
		font-style: italic;
		margin: 10px 0px 10px 0;
	}
	@media #{$medium-up} {
		margin-bottom: 15px;
	}
}

.section-nav {
	margin: 10px 0;
	font-weight: 300;
	a.active {
		color: $turq;
	}
}

a.back-to-top {
	font-size: 30px;
	display: block;
	margin: 30px auto;
	width: 30px;
}

footer#footer {
	// background: $darkey;
	padding-top: 1em;
	border-top: 1px solid $lines;
	max-width: 500px;
	margin: 0 auto;
	font-size: rem-calc(14px);
	font-weight: 300;
	// color: #E0E4E9;

	padding: 1em 0;
	.logo {
		height: 25px;
		margin: 10px auto;
	}
	text-align: center;
	.inline-nav {
		margin-bottom: 0;
		li {
			list-style: none;
			display: inline-block;
			.nav-sep {
				// font-weight: bold;
				padding: 0px 4px 0px 5px;
			}
		}
	}

	.social-links {
		margin: 0;
		margin-top: 10px;
		li {
			padding: 0 10px 0 10px !important;
			line-height: 30px;
			height: 30px;
			vertical-align: middle;
			&.insta {
				// padding-bottom: 20px;
			}
		}
		.fa-instagram {
			font-size: 30px;
			height: 40px;
		}
		a {
			font-size: 40px;
			// color: #a9a9a9;
		}
	}
	h6 {
		color: #888;
	}

	.copyright {
		// font-weight: 300;
		font-size: rem-calc(12px);
		text-align: center;
		color: #888;
		margin-bottom: 3px;
		margin-top: 3px;
	}
	.fb-like {
		margin-bottom: 10px;
	}
	.support {
		font-size: 12px;
		color: #888;
		margin: 6px 0 10px 0;
		// font-style: italic;
	}
	.built-by {
		font-size: rem-calc(12px);
		margin-bottom: 3px;

		// color: white;
	}
	@media #{$small-only} {
		.inline-nav li.hide-small {
			display: none;
		}
	}
}


@media #{$large-up} {
	.header-title h1 { font-size: 40px; }
}

// Search results
.search-results {
	@media #{$medium-only} {
		max-width: 550px;
	}
	@media #{$large-only} {
		max-width: 800px;
	}
}

// Global Styles

.clrfix:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}


select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	
	margin: 0;
	line-height: 1.467;
	border-radius: 6px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}



// To disable iPhone form zoom
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 16px;
}

// Disable weird styling on iphone
input[type="submit"] {
	display: block;
	margin: 0 auto;
	-webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;  
}


// Font Families and Classes to use them
@font-face {
    font-family: 'socialico';
    src: font-url(font-path('socialico-webfont.eot') + "?#iefix") format('embedded-opentype'),
         font-url(font-path('socialico-webfont.woff')) format('woff'), 
         font-url(font-path('socialico-webfont.ttf'))  format('truetype'),
         font-url(font-path('socialico-webfont.svg') + "#socialicoregular") format('svg');
}

@font-face {
    font-family: 'socialico-plus';
    src: font-url(font-path('socialico_plus-webfont.eot') + "?#iefix") format('embedded-opentype'),
         font-url(font-path('socialico_plus-webfont.woff')) format('woff'), 
         font-url(font-path('socialico_plus-webfont.ttf'))  format('truetype'),
         font-url(font-path('socialico_plus-webfont.svg') + "#socialico_plusregular") format('svg');
}


.socialico {
	font-family: "socialico";
	&:before {
		content: attr(data-icon);
		
	}
}

.socialico_plus {
	font-family: "socialico-plus";
	&:before {
		content: attr(data-icon);
	}
}

// Codrops Creative Buttons Styling for Main Nav
.bitn {
	border: none;
	color: $body-font-color;
	background: none;
	cursor: pointer;
	padding:  20px;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	span {
		font-family: $body-font-family;
		font-weight: 500;
		color: #444444;
	}
}

.bitn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bitn-5 {
	background: none;
	color: $body-font-color;
	margin: 0;
	// padding: 0;
	font-size: 18px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	&:hover {
		background: none;
	}
}

.bitn-5:active {
	// background: #9053a9;
	top: 2px;
}

.bitn-5 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.bitn-5:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 120%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bitn-5:active:before {
	color: $body-font-color;
}

/* Button 5a */
.bitn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.bitn-5a:before {
	left: 0;
	top: -100%;
}

.bitn-5a:hover:before {
	top: 0;
}

// Preconfirm page
#users-preconfirm {
	.logo {
		width: 200px;
		margin: 0 auto;
		margin-top: 4em;
		margin-bottom: 1em;
		display: block;
		
	}
	.text {
		text-align: center;
		p {
			margin-bottom: 1em;
			.bold {
				font-weight: 700;
			}
		}
		.confirm {
			@include flat-button($turq);
		}
	}
}

