@import 'foundation_and_overrides';
@import 'colors';



/* Page Formatting
-------------------------------------------------------------*/
$title-padding-left: 3%;

body {
	// background-image: url(/assets/bg-pattern.png);
	background-color: #f5f5f5;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
    font-family: 'Airstream';
    src: url(font-path('Airstream-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('Airstream-webfont.woff')) format('woff'), 
         url(font-path('Airstream-webfont.ttf'))  format('truetype'),
         url(font-path('Airstream-webfont.svg') + "#Airstream") format('svg');
}

// html { 
//   background: url(images/bg.jpg) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

#body {
	min-height: 500px;
}

#header {
	h1.header-title {
		color: $grapefruit;
		font-family: 'Airstream';
		font-size: emCalc(80px);
		text-shadow: 1px 1px 0 $navblue,2px 2px 0 $navblue,3px 3px 0 $navblue,4px 4px 0 $navblue;
		text-align: center;
		// background: #def1df;
	}
}

nav.main-nav {
	ul { 
		display: block; width: 100%;
		margin: 0; padding: 8px 2%;
		// background: #39657E;
		background: $blue;
		overflow: hidden;
		// border-bottom: 10px solid $navblue;
		// border-top: 2px solid white;
		// border: 1px solid rgba(69,69,71,0.3);
	 }
	li {
		 display: block; 
		 float: left;
		 margin: 0; 
		 line-height: 2em;
		 text-align: center;
		 // font-family: $header-font-family;
		 font-size: emCalc(19px);
		 a {
		 	color: $white;
		 	// text-shadow: 2px 2px rgba(51,51,51,0.5);
		 	&:hover { 
		 		// color: #385355;
		 		color: $mint;
		 	 }
		 }

		 width: 33%;
		 padding: 0;
		 // &.link-1 {text-align: left;}
		 // &.link-3 {text-align: right;}
		 &.link-4 { display: none; }
		 &.link-5 { display: none; }
		 // height: 50px;
	 }
}




#pagewrap {
	width: 1000px;
	max-width: 100%;
	margin: 50px auto;
	position: relative;
	min-height: 100%;
}

#content {
	// background: #D4D4D4;
}

#sidebar {
	background: $mint;
}

h2#heading {
	&.edit-recipe {
		background-color: $mint;
		color: $white;
	}
	&.recipe {
		background-color: $yellowFaded;
		color: $body-font-color;	
	}
	&.create-a-recipe {
		background-color: $grapefruit;
		color: $white;	
	}

	// margin-bottom: 15px;
	margin-top: 0;
	line-height: 1.6;
	padding-left: $title-padding-left;
}

#footer .footer-col {
	background-color: grey;
}

.custom-action {
	cursor: pointer;
}

/* Theme Styling
-------------------------------------------------------------*/
.shadow {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.clear {clear: both;}

@mixin rounded {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* Structure Styling
-------------------------------------------------------------*/

.recipe-form {
	max-width: 93%;
	margin: 0 auto;
}

@mixin box {
	background: $box_bg;
}

.box {
	@include box; //inserts a mixin's css rules
	// @extend .shadow; //a box inherits all the .shadow class styles
	margin-bottom: 15px;
	// -webkit-border-radius: 5px;
 //    border-radius: 5px;
    // border: 1px solid $lightGrey;
    
}

#content .box .padded-wrap {
	padding: 10px 3%;
}

// For recipe#show
.recipe-info  {
	// border-top: 3px solid #354E83;
	h2 {
		margin: 0;
		padding: 0.2em 0;
		color: $white;
		padding-left: 3%;
		// font-weight: bold;
		background: $grapefruit;
		// text-shadow: 1px 1px 0 rgba(51,51,51,0.7),2px 2px 0 rgba(51,51,51,0.7),3px 3px 0 rgba(51,51,51,0.7);
	}
	.blurb {
	font-size: 1em;
	font-style: italic;
	// font-weight: bold;
	color: $darkGrey;
	}
	hr {
		margin: 12px 0 0 0;
	}
	.votes { 
		// width: 100%;
	 	position: relative;
	 	overflow: hidden;
	  }
	.vote {
		width: 33.33333333%;
		float: left;
		height: 25px;
		// border-right: 1px solid $darkey;
		background: $roxo;
		margin: 0;
		padding: 0;
		display: block;
	}

}

.recipe-content {
	// @include rounded;
	max-width: 93%;
	margin: 0 auto;
	padding: 10px 5%;
	h3 {
		color: $blue;
	}
	ul.ingredient-list {
		padding-left: 30px;
		// list-style: none;
		li {
			font-size: 0.85em;
		}
	}
	p.directions {
		text-indent: 3%;
		padding-left: 3%;
	}
}

.tags {
	font-size: 0.8em;
	overflow: hidden;
	clear: both;
	span { 
		font-weight: bold; 
		float: left;
		line-height: 21px;
		padding-right: 10px
	 }
	a {
		float: left;
		display: block;
		height: 21px;
		margin: 0 6px 6px 0;
		padding: 0 10px;
		line-height: 21px;
		background: $mint;
		// font-size: .9em;
		color: #444;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-transition: background .25s ease-out;
		-moz-transition: background .25s ease-out;
		-o-transition: background .25s ease-out;
		transition: background .25s ease-out;
		&:hover {
			background: #444;
			color: #fff;
		}
	}
}

// For recipe#create
#ingredients-section {
	// background: $darkey;
	overflow: hidden;
	.ingredient-fields {
		@include rounded;
		width: 100%;
		overflow: hidden;
		margin-bottom: 3px;
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
		.btn {
			width: 32px;
			height: 32px;
			&.remove { background: $grapefruit; }
			&.slide { background: $blue; }
			&.move-up { background: $mint; }
			&.move-down { background: $mint; }
		}

		.wrap {
			position: relative;
			background: $lightGrey;
			&.quantity {
				display: none;
			}

			.remove, .move-up {
				position: absolute;
				left:0;
				top:0;
			}
			.slide, .move-down {
				position: absolute;
				top: 0;
				right: 0;
			}
			.field.name, .field.quantity {
				margin: 0 32px;
			}
			div {
				margin: 0;
				padding: 0;
				height: 2em;
				line-height: 2em;
			}
			select {
				height: 100%;
			}
		}
	}
}

#search-form {
	
	width: 185px;
	input {height: 30px;}
	input#search-submit {
		width: 34px;
		float: right;
		background-color: $mint;
		padding: 0;
		margin: 0;
		cursor: pointer;
		border: none;
	}

	input#search-input {
		float: left;
		height: 30px;
		width: 151px;
		margin: 0;
	}
}

#current-user-text {
	text-align: center;
	font-size: 70%;
	line-height: 1.8;
	#sign-in {
		color: $lightGrey;
		span {
			color: $facebook;
		}
	}
	
}



/* Styles for screens that are bigger than 400px
-------------------------------------------------------------*/
@media only screen and (min-width: 400px ) {

#pagewrap {
	max-width: 95%;
}

.recipe-content, .recipe-form {
	max-width: 100%;
}

.recipe-content { padding: 10px 3%; }


} // end media query

/* Styles for screens that are bigger than 400px
-------------------------------------------------------------*/
@media only screen and (min-width: 500px ) {

	.recipe-info {
		#photo-container {
			height: 200px;
			background: grey;
			width: 47%;
			display: inline-block;
		}
		#info-text {
			width: 47%;
			display: inline-block;
		}
	}

} // end media query


/* Styles for screens that are bigger than $small-screen (768px)
-------------------------------------------------------------*/
@media only screen and (min-width: $small-screen) {

$sidebar-width: 240px;

#pagewrap {
	max-width: 92%;
}


#body {
	margin-top: 15px;
}
	
#content-wrap {
	margin-right: -$sidebar-width;
	float: left;
	width: 100%;
}

#content {
	margin-right: $sidebar-width;
	padding-right: 2%;
}

#sidebar {
	float: right;
	width: $sidebar-width;
}


nav.main-nav {
	ul li {
	width: 20%;
	&.link-4 { display: block; }
	&.link-5 { display: block; }
	}
}




} // end media query

/* Styles for screens that are bigger than $medium-screen (1140px)
-------------------------------------------------------------*/
// @media only screen and (min-width: $medium-screen) {

// $header-bar-width: 215px;

// #content {
// 	padding-left: 2%;
// }

// #header {
// 	width: $header-bar-width;
// 	background: $white;
// 	position: fixed;
// 	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
// 	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
// 	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);

// 	#logo-container {
// 		background: $blue;
// 		height: 200px;
// 	}

// 	#header-content-container {
// 	padding: 20px 15px;
// 	}
	
// 	nav {
// 		padding-left: 30px;
// 		ul {
// 			list-style: none;
// 			margin: 0;
// 			li {
// 				display: block;
// 				a {
// 					font-family: "Bree Serif", "Helvetica", Helvetica, Arial, sans-serif;
// 					font-size: 21px;
// 					color: $darkGrey;
// 				}
// 			}
// 		}
// 	}

// 	#hr1 {
// 		margin-top: 20px;
// 		margin-bottom: 5px;
// 	}

// }

// #body {
// 	margin-left: $header-bar-width;
// }

	

// } // end media query

.clrfix:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

// To disable iPhone form zoom
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
 font-size: 1em;
  }