@font-face {
    font-family: 'Batch';
    src: url(font-path('batch-icons-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('batch-icons-webfont.woff')) format('woff'), 
         url(font-path('batch-icons-webfont.ttf'))  format('truetype'),
         url(font-path('batch-icons-webfont.svg') + "#Batch") format('svg');
}

body {
	transition: all .2s ease;
}

// Header title
header#header {
	text-align: center;
	background: #f7f7f7;
	h1.middbites {
		font-weight: 500;
		font-family: "reklame-script";
		color: black;
		padding-top: 20px;
		margin-bottom: 0;
		// line-height: 2em;
		span {
			color: #A2DAC2;
		}
	}
}

// Main Nav bar
#sticky_navigation_wrapper {
	width: 100%;
	height: 50px;
	#sticky_navigation {
		width: 100%;
		border-bottom: 1px solid #ddd;
		z-index: 99999;
		background: #f7f7f7; 
	}
	.middbites {
		font-weight: 500;
		font-family: "reklame-script";
		color: black;
		position: absolute;
		line-height: 50px;
		font-size: 30px;
		left: $column-gutter/2;
	}
	.social-icons {
		position: absolute; 
		right: $column-gutter/2;
	}
	.fixed-appear { display: none; }
	@media #{$xlarge-up} {
		.social-icons { right: 0 }
		.middbites { left: 0 }
	}
}

nav.main-nav {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	a { 
		color: #444444;
		font-size: rem-calc(14);
		&:hover {
			color: $blue;
		}
	}
	ul#main-nav {
		margin: 0 auto;
		text-align: center;
		width: 500px;
		line-height: 50px;
	}
	ul#main-nav > li {
		// font-family: $header-font-family;
		font-weight: 500;
		display: inline-block;
		margin-right: 15px;
		padding-right: 15px;
		text-transform: uppercase;
		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}
		span.search { margin-right: 20px; }
	 }

}
ul#user_hover {
	margin: 0;
	z-index: 10000;
	.hello {
		padding: 0.25rem;
	}
	hr {
		margin: 2px 0;
	}
}


.header-title {
	h1 {
		font-family: $body-font-family;
		color: black;
		font-weight: 600;
		line-height: 2em;
		margin: 0;
	}
}



footer#footer {
	background: #2E3236;
	font-size: rem-calc(14px);
	font-weight: 200;
	color: #E0E4E9;
	padding: 1em 0;
	ul { margin-bottom: 0.7em; }
	h5 {
		font-weight: 500;
		color: white;
		font-size: rem-calc(28px);
		font-family: "reklame-script";
	}
	a { color: #E0E4E9; font-size: rem-calc(14px); &:hover { color: $blue } }
	text-align: center;
	.inline-nav {
		li {
			list-style: none;
			display: inline-block;
			.nav-sep {
				// font-weight: bold;
				padding: 0px 4px 0px 5px;
			}
		}
	}
	// font-family: $header-font-family;
	h6 {
		color: #888;
	}

	.copyright {
		// font-weight: 300;
		font-size: rem-calc(12px);
		text-align: center;
		color: #888;
	}
	.built-by {
		font-size: rem-calc(12px);
		padding-bottom: 1em;
		// color: white;
	}
	@media #{$small-only} {
		.inline-nav li.hide-small {
			display: none;
		}
	}
}


@media #{$large-up} {
	.header-title h1 { font-size: 60px; }
}

// Global Styles

.main-width {
	max-width: 93%;
	margin: 0 auto;
}

.padded-wrap {
	padding: 10px 4%;
}

.clrfix:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.inline-unit { 
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
}



.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.ib-container:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.icon-font {
	font-family: Batch;
	&.favorite.not_voted:before {
		content: "\f04b";
	}
	&.favorite.voted:before {
		content: "\f049";
	}
	&.bite.not_voted:before {
		content: url(/assets/bite.png)
	}
	&.bite.voted:before {
		content: url(/assets/bit.png)
	}
}

.share-icons {
	margin: 0 25px;
	text-align: justify;
	height: 40px;

	img { width: 35px; height: 35px; }
	.image-wrap { display: block; 
		width: 35px;
		height: 35px;

		margin: 0 auto; position: relative }
	.image-wrap:hover .overlay {
		width:100%;
		height:100%;
		position: absolute;
		background-color:#ffffff;
		opacity:0.1;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
}

.module {
	margin-bottom: 1em;
	h3 {
		padding-bottom: 0.1em;
		border-bottom: 2px solid #dddddd;
		margin-bottom: 0.3em;
	}
}



// To disable iPhone form zoom
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 1em;
}



 /* Styles for screens that are bigger than $main-screen (768px)
 -------------------------------------------------------------*/
@media only screen and (min-width: $main-screen) {

 	$sidebar-width: 250px;

 	#main-content {
 		display: table;
 		width: 100%;
 		.table-col {
 			display: table-cell;
 			vertical-align:top;
 		}
 		.content {
 			
 		}
 		.sidebar {
 			padding-left: 1em;
 			width: 250px;
 		}
 	}

 	.main-width {
 		width: $main-width;
 	}

} // end media query

@media #{$xlarge-up} {
	.recipes-grid-width {
		width: 900px;
	}

	.grid-recipe {
		height: 380px;
	}
}

/* Below Variables added to make this work in Codepen, individually, without including Foundation
* http://codepen.io/rvinay88/pen/Gbvua
*/

