// My global styles
$main-width: 700px;

// Foundation Various global styles
// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
$em-base: 16px !default;
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}
$body-font-color: #444444;
// $body-font-color: #343434;
// $body-font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family: "proxima-nova", "Helvetica", Helvetica, Arial, sans-serif;

// Heading font styles

$header-font-family: "omnes-pro", Helvetica, Arial, sans-serif;
// $header-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$header-font-weight: normal;
// $header-font-style: normal;
$header-font-color: $body-font-color;
// $header-line-height: 1.4;
// $header-top-margin: .2em;
$header-bottom-margin: .2em;
// $header-text-rendering: optimizeLegibility;

// Heading font sizes

$h1-font-size: emCalc(45px);
$h2-font-size: emCalc(37px);
// $h3-font-size: emCalc(27px);
// $h4-font-size: emCalc(23px);
// $h5-font-size: emCalc(18px);
// $h6-font-size: 1em