@import 'variables';
@import 'colors';
@import 'foundation_and_overrides';

@font-face {
    font-family: 'Batch';
    src: url(font-path('batch-icons-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('batch-icons-webfont.woff')) format('woff'), 
         url(font-path('batch-icons-webfont.ttf'))  format('truetype'),
         url(font-path('batch-icons-webfont.svg') + "#Batch") format('svg');
}

body {
	// background-color: #f1f4f9;
	// background-color: #F5F7FA;
	// background-color: rgba(245, 247, 250, 0.8);
	// background-color: $baby_blue;
	// background-color: rgba(32, 121, 155, 0.1);
}
//Header styles

// Header title
header#header {
	background: #DAEFF8;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
	a.logo {
		margin: 15px 0; 
		color: $body-font-color;
		display: inline-block;
	}
	// width: $main-width;
	// .header-logo  {
	// 	background-image: url(/assets/logo.png);
	// 	background-size: contain;
	// 	height: 50px;
	// 	width: 50px;
	// 	margin: 0 auto;
	// 	margin-top: 15px;
	// 	margin-bottom: -30px;
	// }
	// .header-title {
	// 	display: inline-block;
	// 	// font-family: 'Montserrat Alternates';
	// 	font-family: "omnes-pro",sans-serif;
	// 	font-style: italic;
	// 	font-weight: 600;
	// 	// color: $baby_blue;
	// 	font-size: emCalc(40px);
	// 	line-height: 80px;
	// 	margin: auto;
	// 	margin-top: 10px;
	// }
	.header-logo {
		display: inline-block;
		background-image: url(/assets/logo.png);
		height: 50px;
		width: 50px;
		vertical-align: top;
		margin-top: 0px;
		margin-right: 3px;
		background-size: contain;
	}
	.header-title {
		display: inline-block;
		// font-family: 'Montserrat Alternates';
		font-family: "omnes-pro",sans-serif;
		font-style: italic;
		font-weight: 600;
		// color: $baby_blue;
		font-size: emCalc(35px);
		line-height: 50px;
	}
}

// Main Nav bar
nav.main-nav {
	// background: $blue;
	margin: 0 auto;
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
	ul {
		max-width: 550px;
		width: 100%;
		display: block; 
		padding: 0px 10px ; margin: 0 auto;
		overflow: hidden;
	}

	li {
		list-style: none;
		float: left;
		margin: 0; 
		line-height: 2.2em;
		text-align: center;
		// font-size: emCalc(19px);
		 a {
			color: $body-font-color;
		 	font-size: emCalc(16px);
		 	font-family: "omnes-pro";
		 	font-weight: 500;
		 	// text-transform: Capitalize;
		 	padding: 4px 7px;
		 	transition: all .2s ease;
		 	&:hover {
		 		color: $grapefruit;
		 		transition: all .2s ease;
		 	}
		 	&.active {
		 		font-weight: 600;
		 	}
		 }

		 width: 33%;
		 padding: 0;
		 &.nav-4 { display: none; }
		 &.nav-5 { display: none; }
	 }
}

.toolbar {
	max-width: $main-width;
	height: 7px;
	background-color: $blue;
	// background-color: rgba(147, 208, 109, 0.64);
	margin: 0 auto;
}

#body-section {
	position: relative;
}
// Body Content
#body-content {
	padding-top: 18px;
	position: relative;
	width: $main-width;
	max-width: 93%;
	margin: 0 auto;
	// overflow: hidden;
}


footer#footer {
	border-top: 1px solid #dddddd;
	min-height: 400px;
	// background-color: $blue;
	max-width: $main-width;
	margin: 0 auto;
}


// Global Styles

.padded-wrap {
	padding: 10px 4%;
}

.clrfix:after {
	content: ".";
	display: block;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.icon-font {
	font-family: Batch;
	&.favorite.not_voted:before {
		content: "\f04b";
	}
	&.favorite.voted:before {
		content: "\f049";
	}
	&.bite.not_voted:before {
		content: url(/assets/bite.png)
	}
	&.bite.voted:before {
		content: url(/assets/bit.png)
	}
}

// To disable iPhone form zoom
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 1em;
}

 /* Styles for screens that are bigger than $medium-screen (500px)
 -------------------------------------------------------------*/
@media only screen and (min-width: $medium-screen) {
	$main-width: 400px;
	$max-width: 80%;
	#body-content {
		max-width: $max-width;
	}

	header#header {
		.header-title {
			font-size: emCalc(40px);
		}
	}

}

 /* Styles for screens that are bigger than $main-screen (768px)
 -------------------------------------------------------------*/
@media only screen and (min-width: $main-screen) {

 	$sidebar-width: 250px;

 	#body-content {
 		
 	}
 	
 	#content-wrap {
 		margin-right: -$sidebar-width;
 		float: left;
 		width: 100%;
 	}

 	#content {
 		margin-right: $sidebar-width;
 		padding-right: 2%;
 	}

 	#sidebar {
 		float: right;
 		width: $sidebar-width;
 		// background: $grapefruit;
 		height: 400px;
 	}


 	nav.main-nav {
 		ul li {
 			width: 20%;
 			&.nav-4 { display: block; }
 			&.nav-5 { display: block; }
 		}
 	}

 	header#header {
 		padding-top: 10px;
 	}






} // end media query